# Object files
*.ko
*.o

# Libraries
*.a
*.lib

# Shared objects (inc. Windows DLLs)
*.dll
*.dylib
*.so.*
*.so

# Executables
*.app
*.exe
*.out

# Dependency files
*.d

# Binary files
*.bin
*.elf

# Miscellaneous files
app.default
