# Object files
*.o
*.ko

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# Dependency files
*.d

# Binary files
*.bin
*.elf

# Miscellaneous files
app.default
